html, body, table {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

table {
	border: none;
}

td {
	text-align: center;
}

.Calculator {
	font-family: Roboto;
	font-size: 32px;
	font-weight: 700;
}

.Calculator_output {
	background-color: black;
	color: white;
}

.Calculator_enter {
	background-color: #f1f1f1
}

.Calculator_fun {
	background-color: orange;
	color: white;
}
.Calculator_num {
	background-color: #555555;
	color: white;
}